:root {
    --brightAccent: #0ca923;
    --darkAccent: #01420e;
    --textColor: rgb(181, 244, 188);

    --background: rgb(0, 0, 0);
    /*  This will update ALL backgrounds,       */
    /*  including the fade on the cards.        */

    --clear: #00000000;
    /* Transparent black - can be updated but   */
    /* should have 0 for the alpha channel.     */

    --border: 10px double var(--darkAccent);

    --blendHeight: 5.5em;
}

body {
    background-color: var(--background);
    color: var(--textColor);
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
    width: auto;
    padding: .25em;
    margin: 1em;
}

h1 {
    font-size: 200%;
    color: var(--brightAccent)
}

h2 {
    font-size: 175%;
    color: var(--brightAccent)
}

h3 {
    font-size: 140%;
    color: var(--brightAccent)
}

h4 {
    font-size: 120%;
    color: var(--brightAccent)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20 10 10 px;
    text-align: left;
    border-bottom: var(--border);

}

.nameMarquee {
    width: 20em;
    margin: 1em;

}

.contactInfo,
.navigation {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1em;
}

.contactInfo li,
.navigation li {
    padding: .5em;
}


/* This ensures that the two side bars have the same properties and sizes.  */

h2[class$="-side"] {
    min-width: 6em;
    border-right: var(--border);
    margin-top: 1em;

}

.personalInfo,
.portfolioContainer,
.contactContainer {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
}

.personalInfo-text {
    margin: 1em;
    text-align: left;
}

.personalPhoto {
    margin: 1em;
    flex: 1 1 300px;
    width: 20%;
    object-fit: contain;
    /* Forces image to maintain ratios. 
    https://stackoverflow.com/questions/30788131/maintain-image-aspect-ratio-when-changing-height*/
    border-radius: 8px;

}



/* The reverse row and wrap here are to ensure the newest (lowest) 
items added to the portfolio are displayed more prominently on the 
front of the page. */

.portfolioBlocks {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    align-items: stretch;
    justify-content: stretch;

}

.project-card {
    Flex: 1 1 400px;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    min-width: 280px;
    width: 30%;
    height: 300px;

    color: var(--brightAccent);

    margin: 2em 1em 0;
    padding: 10px;
    border: solid var(--textColor);
    border-radius: 8px;

    transition: all 0.5s ease-in-out
}

/* code below makes the whole project card a clickable link. https://www.w3docs.com/snippets/css/how-to-make-a-div-a-clickable-link.html */

.project-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}



.project-card p {
    font-size: 90%;
    color: var(--textColor);
}



h1 {
    font-size: 200%;
    color: var(--brightAccent);

}

h2 {
    font-size: 150%;
    color: var(--brightAccent)
}

h3 {

    font-size: 120%;
    color: var(--brightAccent)
}



.project-description {
    padding: .5em
}



.project-card:hover {
    box-shadow: inset 0px 0px 10px var(--brightAccent), 0 0 15px var(--darkAccent);
}




footer {
    padding: 1em;
    text-align: center;

}

footer p {
    font-size: 80%;
    color: var(--darkAccent)
}

/* This gives all background images on the card the same properties, except 
for the background image which displays with a gradient overlay to make the 
text readable.  */

/* check these properties to resolve pixel bleed - Pixel bleed resolved by making the image take up the entire card and adding a slight box shadow */

span[id^="imagep"] {
    position: absolute;
    border: solid 10px var(--background);
    border-radius: 8px;
    box-shadow: inset 0px 0px 20px var(--background);
    top: -2px;
    right: 0px;
    z-index: -1;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: top left;
    display: block;
}

/* Images go here to apply the gradient over the same background image. */

#imagep1 {

    background-image:
        linear-gradient(to bottom,
            var(--background),
            var(--background) var(--blendHeight),
            var(--clear)), url('../Images/Bucky.jpg');

}

#imagep2 {

    background-image:
        linear-gradient(to bottom,
            var(--background),
            var(--background) var(--blendHeight),
            var(--clear)), url('../Images/Bucky.jpg');

}

#imagep3 {

    background-image:
        linear-gradient(to bottom,
            var(--background),
            var(--background) var(--blendHeight),
            var(--clear)), url('../Images/Bucky.jpg');

}

#imagep4 {

    background-image:
        linear-gradient(to bottom,
            var(--background),
            var(--background) var(--blendHeight),
            var(--clear)), url('../Images/horiseon.PNG');

}

#imagep5 {

    background-image:
        linear-gradient(to bottom,
            var(--background),
            var(--background) var(--blendHeight),
            var(--clear)), url('../Images/css\ cheatsheet.PNG');

}

/* vertical style for mobile and tablets */

@media (max-width:768px) {

    h1 {
        text-align: center;
    }

    header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }

    h2[class$="-side"] {
        min-width: 6em;
        border-right: none;
        border-bottom: var(--border);
        margin-top: 1em;

    }

    .personalInfo {
        flex-flow: column wrap;
        margin-left: 0;
        margin-right: 0;
    }

    .personalPhoto {
        margin-left: 0;
        margin-right: 0;
        width: 100%;

    }

    .project-card {
        height: fit-content;
    }

    .portfolioContainer,
    .contactContainer {
        flex-flow: column nowrap;
    }

    .portfolioBlocks {
        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: center;
        justify-content: stretch;
    }

    .project-card {
        flex: 1 1 100%;
        min-height: 300px;
        width: 90%;

    }

    .contactInfo {
        justify-content: center;
    }
}