:root {
    --brightAccent: #6ca048;
    --darkAccent: #253522;
    --textColor: #ffffff;
    --background: #000000;
}

body{
    background-color: var(--background);
    color: var(--textColor);
    font-size: 16px;
    line-height: 1.5;
    margin-left: auto; margin-right: auto;
    width: auto;
    padding: .25em;
    margin: 1em;
}

header {
    margin: 20 10 10 px;
    width: 100%;
    text-align: center;
}

header ul {
    display: flex;
    flex-flow: row;
    align-content: flex-end;
}


main {
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: center;
}


h1 {
    font-size: 200%;
    color:var(--brightAccent);
    
}

h2 {
    padding: 0 1em;
    font-size: 150%;
    color:var(--brightAccent);
}

.project-card {

    padding: 10px;
    border: dashed var(--textColor);
    width: 30%;
    min-width: 300px;
    color:var(--brightAccent);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 2em 1em 0 ;
}


.project-header {
    position: relative;
    margin-top: -20px;
    border: solid var(--textColor);
    background-color: var(--background);
    border-radius: 10px;
}

.project-description {
    padding: .5em
}

.code-box {
    padding: 10px;
    border: solid var(--background);
    color: var(--textColor);
    background-image: linear-gradient(to bottom, var(--brightAccent) 0%, var(--darkAccent) 100%);
    border-radius: 10px;
    font-family: monospace;
    height: 100%
}

pre { 
    white-space: pre-wrap; 
    overflow-x: auto; }
/* from https://css-tricks.com/considerations-styling-pre-tag/ */

.project-card .project-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}    
    .project-card:hover, .project-card:hover .card-head {
    box-shadow:inset 0px 0px 8px var(--brightAccent), 0 0 15px var(--darkAccent);
}

/* on <pre> click, select all contents so the code is highlighted */
.code-box pre:active {
    user-select: all;
  }